* {
    box-sizing: border-box;
}

h2 {
    color: #7A991A;
}

h3 {
    color: #7A991A;
    text-shadow: 2px 2px 5px #330000;
    font-weight: bold;
}

p {
    color: darkgrey;
    text-align: right;
}

html,
body {
    background-color: #834040;
    font-family: 'Roboto', sans-serif;
}

.pg-title {
    text-align: center;
    text-shadow: 2px 2px 5px #330000;
}

.row {
    width: 100%;
    text-align: center;
}

.half-row {
    width: 45%;
}

.third-row {
    width: 24%;
}

.column {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.about-text {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    color: #7A991A;
    text-shadow: 2px 4px 5px black;
}

.links {
    display: #FFFFFF;
    color: #7A991A;
    text-decoration: none;
}

.profile-img {
    width: 100%;
    height: auto;
    border: 2px #331a00 solid;
}

div#fixedheader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #CCC;
    background: #333;
    padding: 20px;
}

div#fixedfooter {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #CCC;
    background: #333;
    padding: 8px;
}

.item-list {
    text-align: left;
}

.item-list .item-header {
    padding-left: 25px;
}

.form-sub {
    padding-left: 110px;
}

.wrapper {
    text-align: center;
}

@media(max-width: 760px) {
    .half-row {
        display: block;
        width: 100%;
    }
    .third-row {
        width: 45%;
    }
    .profile-img {
        border-radius: 50%;
        width: 75%;
    }
}